# EditorConfig for Chirui Reader Android project
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 8
max_line_length = 120

[*.{xml,xml.*}]
indent_size = 4

[*.{json,json5}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.gradle.kts]
indent_size = 4

[*.properties]
indent_size = 1
